[run]
branch = True
omit =
    */__init__.py
    */tests/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__

[html]
directory = htmlcov
